.news header {
  height: 40px;
  line-height: 40px;
  background: #5698c3;
  border-radius: 8px; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; 
  font-size: 18px;
  font-weight: 600;
  color: #e2e1e4;
  padding-left: 15px;
}
#news {  
  border: 2px solid #5698c3;
  border-top: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 5px 15px;
  
}
.col-md-4 {
  margin-bottom: 10px;
}
.life header {
  height: 40px;
  line-height: 40px;
  background: #5698c3;
  border-radius: 8px; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; 
  font-size: 18px;
  font-weight: 600;
  color: #e2e1e4;
  padding-left: 15px;
}
#life {  
  border: 2px solid #5698c3;
  border-top: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 5px 15px;
  
}
