body {
    background-color: #f8f9fa;
}
a {
    outline: none;
    color: inherit;
}
a:link {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inderit;
}
.rowtop {
    position: fied;    
    /*line-height: 75px;*/
    padding-bottom: 0px;  
    background-color: #fff; 
}
.topDiv {
    padding-top: 10px;
}
.logo {
    position: fixed;
    width: 80px;
    height: 80px;
    top: 32px;
}
.panda {
    width: 100%;
}
.panda-eye {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    height: 5px;
    width: 5px;
    transform-origin: center left;
}
.panda-eye.left {
    left: 43%;
    top: 26%;
}
.panda-eye.right {
    left: 61%;
    top: 26%;
}

#search {    
    /*float: left;*/
    width: 100%;  
    margin-top: 20px;  
    margin-bottom: 50px;

}